@model IEnumerable<TriviaGameMVC.WebApp.Models.QuestionViewModel>

@{
    ViewData["Title"] = "Questions";
}

<h1>Questions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionId)
            </td>
            <td>
                @if(item.CategoryId==1){
                    item.CategoryString = "Movies";
                }
                else if (item.CategoryId == 2)
                {
                    item.CategoryString = "Food and Drink";
                }
                else
                {
                    item.CategoryString = "Beer Slogans";
                }
                @item.CategoryString
                @*@Html.DisplayFor(modelItem => item.CategoryId)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.ActionLink("Details","Index", "QuestionChoices",new {  questionId=item.QuestionId })
            </td>
        </tr>
}
    </tbody>
</table>
