@model IEnumerable<TriviaGameMVC.WebApp.Models.QuizViewModel>

@{
    ViewData["Title"] = "UserQuizzes";
}

<h1>Your Quizzes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuizId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameModeString)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuizId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameModeString)
            </td>
        </tr>
}
    </tbody>
</table>
